# Default Caddyfile for the PHP application
{
    frankenphp {
        worker /srv/public/worker.php 10
    }
}

# as Nginx is the entrypoint.
:8080 {
    root * /srv/public
    encode zstd br gzip

    php_server {
        index /worker.php
    }

    header -X-Powered-By
    header -Server
}
