# Default Caddyfile for the PHP application
{
    frankenphp {
        worker /srv/public/worker.php 10
    }
}

# as Nginx is the entrypoint.
:8080 {
    @allowedHosts host crm.docker.localhost panel.docker.localhost app.indolat.com crm.indolat.com app.indolat.web.id crm.indolat.web.id

    handle @allowedHosts {
        root * /srv/public
        encode zstd br gzip

        php_server {
            index /worker.php
        }

        header -X-Powered-By
        header -Server
    }

    # Optional: block all other hosts (deny access)
    respond "Forbidden" 403
}
